{{!< layout}}

<!-- the Javascript file js/addon.js is imported in the layout -->
<!-- It contains functions which execute actions for buttons/links in this page -->

<div class="aui-group sidebar">
  <div class="aui-row">
    <div class="aui-item">
      <h3>Your sidebar goes here!</h3>
      <form id="update-content-form" class="aui top-label" action="update-content" method="POST">
        <fieldset class="top-label">
          <div class="field-group top-label">
            <label for="content">Content</label>
            <textarea type="text" id="content" name="content" rows="10"
              class="full-width-field"
              placeholder="content"
              data-aui-validation-field 
              data-aui-form-notification-position="bottom">{{content}}</textarea>
          </div>
        </fieldset>
        <button class="aui-button">Button</button>
    </form>
    </div>
  </div>
</div>

<script>
  AJS.$('#update-content-form').on('aui-valid-submit', function(event) {
    event.preventDefault();
    var form = event.target;
    var data = $(form).serializeObject();
    var url = form.action;
    var method = form.method;
    $.ajax({
      url: url,
      type: method,
      headers: { 'Authorization': 'JWT {{signed_request}}' },
      data: {
        groupId: '{{identity.groupId}}',
        roomId: '{{identity.roomId}}',
        content: data.content
      },
      success: function(response) {
        AJS.flag({
            type: 'success',
            title: 'Saved successfully',
            body: 'Configuration has been updated',
            close: 'auto'
        });
      },
      error: function(error) {
        var formError = AJS.$('#formError');
        AJS.flag({
            type: 'error',
            title: 'Error',
            body: error.responseText,
            close: 'auto'
        });;
      }
    });
  });
</script>
